<div class="text-center">
	<%= image_tag @post.image.url(:medium) %>
</div>


<%= render 'posts/form' %>


<div class="text-center edit-links">
	<%= link_to "Delete post",post_path(@post),method: :delete , data: { confirm: "Are you sure to delete this post ?"} %>
	|
	<%= link_to "cancel",post_path %>
	
</div>