@import "bootstrap-sprockets";
@import "bootstrap";
@gray-light: #777;
$gray-medium-light: #eaeaea;

*{
	margin:0;
	padding:0;
}
body{
	
	margin:auto;
	height: 100%;
	background-color: #fafafa;
  
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background-attachment:fixed;

}
/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.navbar-brand {
  a {
    color: #ffffff;
  }
}
.logo{
  font-size: 30px;
}
.navbar-default {
  background-color: #fff;
  height: 54px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  -webkit-transition: top 0.6s;
  -moz-transition: top 0.6s;
  transition: top 0.6s;
  .navbar-nav li a {
    color: #125688;
  }
}
.navbar-header.off-canvas{
  top: -60px;
}
.navbar-header.fixed{
  top: 0;
  z-index:9999;
}


.navbar-container {
  width: 70%;
  margin: 0 auto;
}

/* ## POST CUSTOMISATIONS ## */


.avata_on_post{
  #image-preview{
    margin: 0
  }
  .profile-image{
    margin: 0;
    height: 30px;
    width: 30px;
  }
  .img-responsive{
    display: inline;
  }
}



.posts-wrapper {
  padding-top: 40px;
  margin: 0 auto;
  max-width: 642px;
  width: 100%;
}

.post {
  background-color: #fff;
  border-color: #edeeee;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  margin-bottom: 60px;
  .post-head {
    flex-direction: row;
    height: 64px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    color: #125688;
    font-size: 15px;
    line-height: 18px;
    .user-name, .time-ago {
      display: inline;
    }
    .user-name {
      font-weight: 500;
    }
    .time-ago {
      color: #A5A7AA;
      float: right;
    }
  }
  .image {
    border-bottom: 1px solid #eeefef;
    border-top: 1px solid #eeefef;
  }
}

.post-bottom {
  .user-name, .comment-content {
    display: inline;
  }
  .caption {
    margin-bottom: 7px;
  }
  .user-name {
    font-weight: 500;
    margin-right: 0.3em;
    color: #125688;
    font-size: 15px;
  }
  .user-name, .caption-content {
    display: inline;
  }
  #comment {
    margin-top: 7px;
    .user-name {
      font-weight: 500;
      margin-right: 0.3em;
    }
    .delete-comment {
      float: right;
      color: #515151;
    }
  }
  margin-bottom: 7px;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 10px;
  font-size: 15px;
  line-height: 18px;
}

.comment_content {
  font-size: 15px;
  line-height: 18px;
  border: medium none;
  width: 100%;
  color: #4B4F54;
}

.comment-like-form {
  padding-top: 24px;
  margin-top: 13px;
  margin-left: 24px;
  margin-right: 24px;
  min-height: 68px;
  align-items: center;
  border-top: 1px solid #EEEFEF;
  flex-direction: row;
  justify-content: center;
}
#comment_content{
  border: none;
}

#image-preview {
  margin: 0px auto;
}

#post_image {
  padding: 1em;
  margin: 0px auto;
}


/* ## Wrapper and styling for the new and edit views ## */

.form-wrapper {
  width: 60%;
  margin: 20px auto;
  background-color: #fff;
  padding: 40px;
  border: 1px solid #eeefef;
  border-radius: 3px;
}

.edit-links {
  margin-top: 20px;
  margin-bottom: 40px;
}
/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}
#user_avatar {
  margin: 20px auto;
}
/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #fff;
  color: #fff;
  a {
    color: $gray;
    &:hover {
      color: #fff;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/*icon*/
.icon{
  width: 80px;
  height: 64px;
}


/* devise*/
html {  
  height: 100%;
}

.registration-bg {
  padding-top: 4em;
  height: 100%;
 
}

.login-bg {
  padding-top: 4em;
  height: 100%;
  
}

.log-in{
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  border: none;
}

.panel {
  border-radius: 10px;
}

.panel-heading{
  h1 {
    text-align: center;
  }
}

.form-control{
   margin: 20px 4px;
}

.navbar {
  margin-bottom: 0px;
}

.alert {
  margin-bottom: 0px;
}
/*profile*/
.profile-header {
  padding: 20px 0;
}

.profile-image {
  margin: 20px auto;
  height: 152px;
  width: 152px;
}

.user-name-and-follow {
  display: inline;
}

.profile-user-name {
  display: inline;
}

.edit-button {
  border-color: #818488;
  color: #818488;
  margin-left: 20px;
}

.profile-bio {
  margin-top: 20px;
}

.likes {
  margin-top: 20px;
  margin-bottom: 7px;
}

.like {
  text-decoration: none;
  color: red;
}

.unlikes {
  margin-top: 20px;
  margin-bottom: 7px;
}

.unlike {
  text-decoration: none;
  color: red;
}

.like-button a:hover {
  text-decoration: none;
  color: red;
}
.like-button a:focus {
  text-decoration: none;
  color: red;
}

